#footer{
    height: 30px;
    line-height: 30px;
    left: 45%;
    position: absolute;
    bottom: 0;
    width: 10%;
    color: #333333;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: Arial;
    text-align: center;
    bottom: 0;
}